<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coyote | Signup</title>
  <!-- build:style buildCSS -->
  <link rel="stylesheet" href="/packages/github/fezVrasta/bootstrap-material-design@0.3.0/dist/css/material-fullpalette.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/packages/github/twbs/bootstrap@3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
  <!-- /build -->
</head>


<body>
  <div id="preloader" class="container" ng-show="!loaded">
    <div class="row">
      <div class="text-center col-md-4 col-md-offset-4">
        <h1>WAIT</h1>
      </div>
    </div>
  </div>
    <div id="login" class="container" ng-controller="UserController" ng-show="!loggedin" style="display: none">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <h3>Signup for Coyote</h3>
        <form class="" action="/signup" method="post">
          <div class="form-control-wrapper">
            <input type="email" name="email" class="form-control empty">
            <div class="floating-label">Email</div>
            <span class="material-input"></span>
          </div>
          <div class="form-control-wrapper">
            <input type="password" name="password" class="form-control empty">
            <div class="floating-label">Password</div>
            <span class="material-input"></span>
          </div>
          <button type="submit" class="btn btn-primary btn-raised pull-right">Signup</button>
        </form>
      </div>
    </div>
  </div>
  <!-- build:script buildJS -->
  <script src="/packages/system.js"></script>
  <script src="/config.js"></script>
  <script>
    System.import('js/index');
  </script>
  <!-- /build -->
</body>

</html>
